.sorters {
    width: calc(34000% / 1018);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorters__sorter-by-title,
.sorters__sorter-by-date {
    height: 70%;
    display: flex;
}

.sorters__sorter-by-title-icon,
.sorters__sorter-by-date-icon {
    width: 100%;
    height: 100%;

    &:hover {
        transform: scale(1.03);
    }
}

@media (max-width: 599px) {
    .sorters {
        width: 58.43vw;
        display: flex;
        justify-content: space-evenly;
    }

    .sorters__sorter-by-title,
    .sorters__sorter-by-date {
        height: clamp(16px, 4vw, 22px)
    }
}
