@use "../../assets/styles/_pop-up";

.entry-btn {
    $this-size: clamp(25px, 3.8vw, 38px);
    width: $this-size;
    height: $this-size;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .entry-btn__login-icon,
    .entry-btn__logout-icon {
        width: 85%;
        height: 85%;

        fill: rgb(36, 33, 33);
    }
}

.entry-message-wrapper {
    @include pop-up.foreground;
    width: min(842px, 84.2vw);
    height: calc(min(842px, 84.2vw) / 1.55);
    background-color: rgba($color: #353232, $alpha: 0.5);
    z-index: 3;
}

.entry-message {
    position: relative;
    background: #fff;
    padding: 30px;
    width: clamp(250px, 20vw, 300px);
    border-radius: 10px;
}

.entry--loading {
    border: 1px solid black;
    &::after {
        content: "";
        position: absolute;
        animation: loading 1s infinite;
    }
}

@keyframes loading {
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    99% {
        content: "...";
    }
}

.entry-message--error {
    color: red;
    border: 2px solid red;
}
.entry-message--success {
    color: rgb(88, 179, 88);
    border: 2px solid rgb(88, 179, 88);
}

@media (max-width: 599px) {
    .entry-btn {
        position: absolute;
    }
}
