.main {
    height: calc(57200% / 655);
    flex-grow: 1;
    display: flex;
    gap: calc((36 - 20 * (1088 / 900)) * 100% / 1018);
    background-color: lightpink;

    @media (max-width: 599px) {
        height: 84%;
        flex-direction: column;
        align-items: center;
    }
}
