$light: #fff;
$dark: #000000;
$active-border: #5697d3;

@mixin svg-color($is-dark-theme: false) {
    $color: $dark;
    $bg-color: $light;
    $wrapper-bg-color: rgba(
        $color: #353232,
        $alpha: 0.5,
    );

    @if $is-dark-theme {
        $color: $light;
        $bg-color: $dark;
        $wrapper-bg-color: rgba(
            $color: #dbcccc,
            $alpha: 0.5,
        );
    }

    background-color: $bg-color;
    color: $color;
    /*====================================================*/
    svg {
        path,
        polyline,
        line {
            stroke: $color;
        }
        text {
            fill: $color;
        }
    }
    /*====================================================*/
    .search__loupe-icon {
        .inside-loupe {
            fill: $bg-color;
        }
    }
    /*====================================================*/
    .entry-form {
        background-color: $bg-color;
        color: $color;
        border-color: $color;
    }
    /*------------------------------------------*/
    .entry-form__input-wrapper {
        .entry-form__input {
            border-color: $color;
            &:hover,
            &:focus {
                border-color: $active-border;
            }
        }
    }
    /*------------------------------------------*/
    .entry-form__entry-btn {
        border-color: $color;
        &:hover,
        &:focus {
            border-color: $active-border;
        }
    }
    /*------------------------------------------*/
    .entry-message-wrapper {
        background-color: $wrapper-bg-color;
    }
    /*------------------------------------------*/
    .entry-message,
    .entry-form__submit-message {
        background-color: $bg-color;
    }
    /*------------------------------------------*/
    .entry--loading,
    .saving {
        border-color: $color;
    }
    /*====================================================*/
    .main-loader-wrapper {
        .lds-roller div:after {
            background-color: $color;
        }
    }
    /*====================================================*/
}
