@font-face {
    font-family: "Virgil";
    font-display: swap;
    src: url("https://excalidraw.com/Virgil.woff2");
}

[class$="frame"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

input,
textarea,
button {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    z-index: 2;
}

input,
textarea {
    &::placeholder {
        color: inherit;
    }
}

@media (max-width: 599px) {
    textarea,
    button {
        font-size: 0.9rem;
    }

    input {
        font-size: 0.8rem;
    }
}
