@use '../../assets//styles/pop-up';

.saving-wrapper{
    @include pop-up.foreground;
    z-index: 10;
}

.saving {
    $this-size: clamp(100px, 15vw, 150px);
    position: absolute;
    width: $this-size;
    height: $this-size;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba($color: black, $alpha: 0.9);
    border-radius: 10px;
    border: 2px solid white;
    z-index: 4;
    color: white;
    opacity: 1;
    animation: custom-appearance 1s;
}

@keyframes custom-appearance{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.saving__checkmark-wrapper {
    width: 40%;
    height: 40%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .saving__checkmark-icon {
        height: 60%;
        width: 60%;
    }
}
